@font-face {
  font-family: Akami;
  src: url('../fonts/Akami-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --red: red;
  --yellow: #ffcd00;
  --black: black;
  --white: white;
  --transparent: #000;
  --blue: #002c9f;
}

body {
  color: #333;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Akami, Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.section.red {
  background-color: var(--red);
}

.section.yellow {
  background-color: var(--yellow);
}

.section-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  position: relative;
}

.section-wrapper.pad-both {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-wrapper.hero {
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 90px;
}

.container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.container.nav {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.content-wrapper {
  z-index: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.body {
  background-color: var(--black);
  color: var(--black);
}

.navbar {
  background-color: var(--yellow);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.nav-logo-link {
  background-image: url('../images/hanabi-20logos_hanabi-20icon-20logo.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;
}

.section-bg {
  z-index: 0;
  background-image: url('../images/Pattern-Yellow.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0%;
}

.hero-logo-wrapper {
  width: 100%;
  max-width: 420px;
  margin-bottom: 25px;
}

.hero-logo {
  width: 100%;
  height: 100%;
}

.paragraph-wrapper.centered {
  text-align: center;
}

.heading-wrapper._1em {
  margin-bottom: 1em;
}

.heading-wrapper.centered {
  text-align: center;
}

.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 62px;
  line-height: 1;
}

.paragraph {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
}

.paragraph.tagline {
  letter-spacing: .8px;
  font-family: Akami, Arial, sans-serif;
  font-size: 20px;
}

.navigation {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.nav-social-icon-wrapper {
  width: 30px;
  height: 30px;
  transition: opacity .2s;
}

.nav-social-icon-wrapper:hover {
  opacity: .5;
}

.social-icon {
  width: 100%;
  height: 100%;
}

.nav-social-icons-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tagline-wrapper {
  background-color: var(--red);
  color: var(--white);
  padding: 14px 22px 11px;
}

.nav-menu-wrapper {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: var(--red);
  text-align: center;
  letter-spacing: .6px;
  text-transform: uppercase;
  border-radius: 100vw;
  padding: 11px 33px;
  font-family: Akami, Arial, sans-serif;
  font-size: 17px;
  transition: background-color .2s;
}

.button:hover {
  background-color: #bf0000;
}

@media screen and (max-width: 991px) {
  .navigation {
    background-color: var(--yellow);
    position: fixed;
    inset: 0%;
  }

  .menu-button {
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .nav-menu-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0%;
  }

  .hamburger {
    z-index: 9999;
    position: relative;
    transform: scale(4);
  }

  .hamburger-wrapper {
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 85px;
  }

  .nav-logo-link {
    height: 70px;
  }

  .hero-logo-wrapper {
    max-width: 150px;
  }

  .paragraph.tagline {
    font-size: 16px;
  }

  .tagline-wrapper {
    padding-left: 14px;
    padding-right: 14px;
  }
}


@font-face {
  font-family: 'Akami';
  src: url('../fonts/Akami-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}